<!-- /snippets/home-help-section.liquid -->
<section class="row flex-row justify-content-center" id="call-center">
  <div class="container">
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-12">
        <p class="description">Our product specialists are here for you.</p>
        <p class="message desktop">
          We’re here to help. Email us
          <a class="link" href="mailto:help@becausemarket.com">help@becausemarket.com</a>
          and our customer care team will reply.
        </p>
        <p class="message mobile">
          We’re here to help. <br/><br/>
          Email us
          <a class="link" href="mailto:help@becausemarket.com">help@becausemarket.com</a>
          and our customer care team will reply.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- call-center.row -->