<!-- /snippets/product-form.liquid -->
<div {% unless current_variant.available %}class="variant--soldout"{% endunless %} data-form-wrapper>
  <div class="product__form"></div>
  <div class="benefits-icons" style="display:none;">
    <div class="image-container">
      <img src="https://cdn.shopify.com/s/files/1/1522/0906/files/free.png?v=1635324324" />
    </div>
    <div class="image-container">
      <img src="https://cdn.shopify.com/s/files/1/1522/0906/files/box1.png?v=1637266988" />
    </div>
    <div class="image-container">
      <img src="https://cdn.shopify.com/s/files/1/1522/0906/files/customers1.png?v=1637267133" />
    </div>
  </div>
</div>