<!-- /snippets/reviews-video-carousel.liquid -->

<div class="show-small">
  <div id="customer-video-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval=10000>
    <ol class="carousel-indicators">
      <li data-target="#customer-video-carousel" class="slider-circle active"data-slide-to="0"></li>
      <li data-target="#customer-video-carousel" class="slider-circle"data-slide-to="1"></li>
      <li data-target="#customer-video-carousel" class="slider-circle"data-slide-to="2"></li>
      <li data-target="#customer-video-carousel" class="slider-circle"data-slide-to="3"></li>
      <li data-target="#customer-video-carousel" class="slider-circle"data-slide-to="4"></li>
      <li data-target="#customer-video-carousel" class="slider-circle"data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">    
        <div class="video-thumb-container col-lg-4">
          <div class="video-thumb" data-video="93FMsIz8qOU">
            <img src="https://img.youtube.com/vi/93FMsIz8qOU/0.jpg" class="video-img" />
            <div class="video-play">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
          </div>
          <div class="video-info" >
            <div class="video-quote">
              "Product is soft, very silky. I hardly know that I have it on"
            </div>
            <p class="customer-name">
              <span>Rosemary</span> from Utah
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="video-thumb-container col-lg-4">
          <div class="video-thumb" data-video="GlB7vnQMBAw">
            <img src="https://img.youtube.com/vi/GlB7vnQMBAw/0.jpg" class="video-img" />
            <div class="video-play">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
          </div>
          <div class="video-info">
            <div class="video-quote">
                "My mother in law likes them more than the ones from the drugstore."
            </div>
            <p class="customer-name">
              <span>Mary</span> from Virginia
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="video-thumb-container col-lg-4">
          <div class="video-thumb" data-video="JGM0ximzW8c">
            <img src="https://img.youtube.com/vi/JGM0ximzW8c/0.jpg" class="video-img" />
            <div class="video-play">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
          </div>
          <div class="video-info">
            <div class="video-quote">
              "I like them a lot, I think it's a good product to use."           
            </div>
            <p class="customer-name">
              <span>Yvette</span> from New York
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="video-thumb-container col-lg-4">
          <div class="video-thumb" data-video="ZvTSo7py6Qc">
            <img src="https://img.youtube.com/vi/ZvTSo7py6Qc/0.jpg" class="video-img" />
            <div class="video-play">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
          </div>
          <div class="video-info">
            <div class="video-quote">
              "I like the convenience that it's delivered directly to my door."       
            </div>
            <p class="customer-name">
              <span>Cynthia</span> from Florida
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="video-thumb-container col-lg-4">
          <div class="video-thumb" data-video="v5hQ3mIBkME">
            <img src="https://img.youtube.com/vi/v5hQ3mIBkME/0.jpg" class="video-img" />
            <div class="video-play">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
          </div>
          <div class="video-info">
            <div class="video-quote">
              "They are so comfortable. They're very discreet, and I love that about them."      
            </div>
            <p class="customer-name">
              <span>Deanie</span> from Utah
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        
        <div class="video-thumb-container col-lg-4">
          <div class="video-thumb" data-video="zBwN7n7-HUM">
            <img src="https://img.youtube.com/vi/zBwN7n7-HUM/0.jpg" class="video-img" />
            <div class="video-play">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
          </div>
          <div class="video-info">
            <div class="video-quote">
              "The people at Because are just so wonderful and so nice to talk to."
            </div>
            <p class="customer-name">
              <span>Nora</span> from California
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
