// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$primary: #5533ff; // Thats a sample how you could change a BootStrap variable.
$cream-background: #fcf8f5;
$light-blue-background: #f9f9fd;
$white: #fff;
$cyan-link: #48e6de;
$peach-color: #feddd7;
$light-pink: #d7cad6;
$light-purple: #dee3e9;
$pink: #ccbcc7;
$purple: #c8d2de;
$gray: #e2e2e2;
$dark-pink: #c6bac5;
$light-blue: #d7dae9;
$dark-pink: #e6d3cf;
$mainColor: #566583;
$secondaryColor: #9effd9;
$navColor: #fcf8f5;
$custom-carousel-control-color: #667799;
$bright-green: #a1feda;
$light-purple: #6a7997;
$sky-blue: #d5dee8;
$light-pink2: #dccad5;
$light-gray: #f0f1f5;
$black: #000;
$redesignBtnBackground: #52E8E1;
$redesignBtnBackgroundHovered: #2EF2E7;
$redesign-cream: #FCFCF4;
$redesign-mainFont: #333333;

$mainFont: "Graphik Regular";
$mainFontSemibold: "Graphik Semibold";
$mainFontMedium: "Graphik Medium";
$secondaryFont: "Cooper Lt BT W05 Regular";
$secondaryFontItalic: "Cooper Lt BT W05 Italic";
$secondaryFontUnderline: "Cooper Lt BT W05 Underline";
$secondaryFontSemibold: "Cooper Md BT W05 Regular";


$section-header-size-desktop: 1.937vw;
$section-header-size-mobile: 9.6vw;
$section-header-padding-bottom: 2rem;

$text-font-size-desktop: 1.184vw;
$text-font-size-mobile: 5.87vw;

$title-header-size-desktop: 3.549vw;
$title-header-size-mobile: 16vw;

$subtitle-header-size-desktop: 1.1vw;
$subtitle-header-size-mobile: 5.5vw;

$testimonial-font-size-desktop: 1.367vw;


$footnote-20px-font-size-desktop: 1.077vw;
$footnote-20px-font-size-mobile: 5.334vw;

$fontsize-19px-cooper-light-desktop: 1.023vw;
$fontsize-19px-cooper-light-mobile: 4.7vw;

$fontsize-16px-semibold-button-desktop: 0.861vw;
$fontsize-16px-semibold-button-mobile: 4.27vw;

