<div id="s-page-email"></div>

{% include 'page-login-image-bundle' %}

<script src="{{ 'react.bundle.js' | asset_url }}" defer></script>
<script src="{{ 'react-dom.bundle.js' | asset_url }}" defer></script>
<script src="{{ 'pageLogin.bundle.js' | asset_url }}" defer></script>
{{ 'pageLogin.bundle.css' | asset_url | stylesheet_tag }}