<div class="three_columns_row featured_news_row bottom-line">
    <div>
        <blockquote><b>No more leaks</b> and carrying massive packages around the store.</blockquote>
        <div class="image-container">
            <img class="fastcompany-image" src="https://cdn.shopify.com/s/files/1/0024/5107/9257/files/fast.png?v=1588366423" />
        </div>
    </div>
    <hr class="quote-separator" />
    <div>
        <blockquote>In two years, Because has <b>sold over 50 million products</b> to over 60,000 customers.</blockquote>
        <div class="image-container">
            <img class="forbes-image" src="https://cdn.shopify.com/s/files/1/0024/5107/9257/files/forbes.png?v=1588366405" />
        </div>
    </div>
    <hr class="quote-separator" />
    <div>
        <blockquote>Because reviews often express gratitude for the company's <b>diligent customer service</b>.</blockquote>
        <div class="image-container">
            <img class="yahoo-image" src="https://cdn.shopify.com/s/files/1/1522/0906/files/yahoo.png?v=1595538074" />
        </div>
    </div>
</div>
