<div class="index-sleeping">
    <div class="container">
        <div class="row">
            <div class="sleeping-picture-container col-sm-6">

            </div>
            <div class="text-container col-sm-6">
                <h1 class="title--decorated">Leak-free,<br />no matter how you sleep.</h1>
                <div class="rte--index">
                    Overnight pads to keep you drier, longer.
                </div>
                <div class="hero__button__wrapper">
                    <a class="btn" href="/collections/for-women/products/because-premium-pad-overnight">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
