<div class="index-seen-us">
    <div class="seen-us-wrapper">
        <div class="text-wrapper">
            <h1 class="title--decorated">Featured and trusted by the names you know.</h1>
            <div class="image-container news-mobile">
                <img src="https://cdn.shopify.com/s/files/1/0024/5107/9257/files/mobile.png?v=1593532551" />
            </div>
            <div class="hero__button__wrapper">

                <a class="button hero__button free-trial" href="/pages/in-news">See Us in the News</a>
            </div>

        </div>
        <div class="image-container news-desktop">
            <img src="https://cdn.shopify.com/s/files/1/0024/5107/9257/files/desktop.png?v=1593532552" />
        </div>
    </div>
</div>

