<div class="index-quiz-start">
    <h2 class="title--decorated dark">Still unsure of what fits you?<br class="br" /> Click below to take our fit quiz!</h2>
    <div class="hero__button__wrapper">
        <a class="button hero__button" href="https://try.becausemarket.com/start/startwelcome?endpoint=iheart&utm_content=iheart">Start</a>
    </div>

</div>
