<!-- /templates/page.partner-create-checkout.liquid -->

<div class="page-partner-create-checkout">
  <div class="rte">
    Loading...
  </div>
</div>

<script src="{{ 'pagePartnerCreateCheckout.bundle.js' | asset_url }}" defer></script>
