<!-- /templates/page.checkout.liquid -->

<div class="page-checkout">
  <div class="rte">
    {% section 'page-checkout' %}
  </div>
</div>

{{ 'page.checkout.scss.css' | asset_url | stylesheet_tag }}